<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <h2>Create User</h2>
    <form action="/users/saveUser" method="post">
        <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" th:field="*{name}">
        
            <label for="number">Number:</label>
            <input type="text" class="form-control" id="number" th:field="*{number}">
        
            <label for="nativeLocation">Native Location:</label>
            <input type="text" class="form-control" id="nativeLocation" th:field="*{nativeLocation}">
        
            <label for="presentLocation">Present Location:</label>

			<input type="text" class="form-control" id="presentLocation" th:field="*{presentLocation}">
        <button type="submit">Save</button>
    </form>
    <a href="/users/list">Cancel</a>
</body>
</html>

			


